<!-- base.html -->

<!DOCTYPE html>
<html>
<head>
    <title>Moodle</title>
</head>
<body>
    <nav>
        <ul>
            {% if user.is_authenticated %}
                {% if user.role.role == 'STUDENT' %}
                <li><a href="/logout">Logout</a></li>
                {% elif user.role.role == 'PROFESOR' %}
                <li><a href="{% url 'predmetiProfesora' %}">Lista predmeta</a></li>
                <li><a href="/logout">Logout</a></li>
                {%elif user.role.role == 'ADMIN' %}
                <li><a href="/logout">Logout</a></li>
                <li><a href="{% url 'createPredmet' %}">Create predmet</a></li>
                <li><a href="{% url 'createUser' %}" class="btn btn-primary">Create user</a></li>
                <li><a href="{% url 'listStudenti' %}">Lista studenata</a></li>
                <li><a href="{% url 'listProfesori' %}">Lista profesora</a></li>
                <li><a href="{% url 'listPredmeti' %}">Lista predmeta</a></li>
                {% endif %}
            {% else %}
                <li><a href="{% url 'login' %}">Login</a></li>
            {% endif %}
        </ul>
    </nav>

    <div class="content">
        {% block content %}
        {% endblock %}
    </div>
</body>
</html>
